* {
  margin: 0;
  padding: 0;
  color: #000;
  box-sizing: border-box;
}

.viewHoleBox {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 72vh;
  max-height: 100vh;
  max-width: 800px;
}

.viewBox {
  background-color: rgba(234, 232, 232);
  border: 2px solid rgba(218, 212, 212);
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  height: 80%;
  max-height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.viewTop {
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}

.viewTop > h1 {
  display: block;
  font-size: 30px;
  margin: 25px;
}

.viewTop > p {
  display: inline;
  margin-left: 40px;
}

.viewContent {
  display: block;
  margin: 30px 0px 30px 20px;
  height: 270px;
  max-height: 100%;
}

.viewBtn {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 80%;
  max-width: 800px;
}
.viewBtn > button {
  margin: 5px 0px 20px 30px;
}

.viewComment {
  margin: auto;
  width: 80%;
  max-width: 800px;
  border-bottom: 1px solid black;
}

.viewCommentList {
  margin: auto;
  width: 80%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewCommentListP {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 30px;
}

.viewCommentListP > p {
  margin-left: 120px;
}

.viewCommentListBtn {
  margin-top: 20px;
}

.viewCommentListBtn > button {
  margin-left: 20px;
}

.commentInput {
  margin-top: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.contentPopInput {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 800px;
}

.contentPopInput > textarea {
  border: 0px;
  border-radius: 5px;
  height: 70px;
  width: 90%;
  max-width: 800px;
}

.contentPopInput > button {
  margin-left: 10px;
}

.commentPopInput {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 800px;
}

.commentPopInput > input {
  margin-top: 10px;
  border: 0px;
  border-radius: 5px;
  height: 30px;
  width: 90%;
  max-width: 800px;
}

.commentPopInput > button {
  margin-top: 10px;
  margin-left: 10px;
}
