.wrap {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 400px;
}

.JoinWrap {
  background-color: #fff;
  min-width: 500px;
  min-height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.JoinTitle {
  font-size: 25px;
  margin-bottom: 0;
}
.inputform {
  background-color: #fff;
  padding: 20px 60px;
  text-align: center;
  min-height: 450px;
}
.inputform input:focus {
  outline: none;
  border-bottom: 2px solid #333;
}
.inputform div > .overlapInput {
  width: 75%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #333;
  margin-top: 30px;
}
.inputform .overlapInput:focus {
  outline: none;
  border-bottom: 2px solid #333;
}
.overlapBtn {
  display: inline;
  margin-left: 10px;
  height: 40px;
}

.Joinbtn {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
}
.LoginBtn:active {
  background: #cdcdcd;
}
.inputform p {
  float: left;
}
.JoinInputBox {
  margin-bottom: 5px;
}
.JoinPassword,
.JoinPasswordC {
  margin-bottom: 5px;
  margin-top: 20px;
}
.Joinwrap p {
  font-size: 14px;
  margin-left: 5px;
}
